@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  height: 100vh;
  --body-image: url(./../public/images/background-home-desktop.jpg);
}
html {
  background-color: black;
}
body {
  margin: 0;
  padding: 0;
  background-image: var(--body-image);
  height: auto;
  background-size: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;


  
}
.hamburger-logo{
  display: none;
}

@media(max-width:667px){

  .wrap{
    display: none !important;
  }
  .hamburger-logo{
    display:flex;
    justify-content: space-between !important;
    margin-top:30px;
  }
  .logo{
    position:relative !important;
    left:10px !important;
  }
  .hamburger-icon{
    margin-right:40px;
    cursor:pointer;
    
  }
  .hamburger-icon-close{
    display:none;
}
.close{
  cursor:pointer;
}
}
